<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="loginFormContainer">

    </div>
  </body>

  <script src="javascripts/build/react.min.js"></script>
  <script src="javascripts/build/LoginForm.js"></script>
</html>
